<div class="before-after">
  <img src="<%= before %>" class="img-before">
  <img src="<%= after %>" class="img-after">

  <input type="range" min="0" max="100" value="50" class="slider">

  <div class="divider"></div>
</div>